<!--This is the template for mailing confirmation order-->
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Commande validée</title>
    </head>

    <body>
        <div>
            <div>
                <div>
                    <img src="http://leogrambert.fr/front/css/img/louvre_logo.png" alt="logo"/>
                </div>
                <p>{{ "Ce mail contient vos billets d'entrée."|trans}}<br/>{{ "Conservez le, il vous sera demandé à l'entrée du Musée"|trans}}<br/><a href="https://www.google.fr/maps/place/Mus%C3%A9e+du+Louvre/@48.8606111,2.3354553,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671d877937b0f:0xb975fcfa192f84d4!8m2!3d48.8606111!4d2.337644" target="_blank">{{ "Comment venir au Musée ?"|trans}}</a>
                </p>
                <hr>
            </div>
            <div>
                <h1>{{ "Confirmation d'achat. Merci pour votre commande et bonne visite !"|trans}}</h1>
                <div>
                    <p>{{ "Date de réservation :"|trans}} {{ dateReservationToString }}</p>
                    <p>{{ "Billet(s) :"|trans}} {% if isDaily == 1 %}{{ "Journée"|trans}}{% else %}{{ "Demi-journée"|trans}}{% endif %}</p>
                    <p>{{ "Code de réservation :"|trans}}{{ chain }}</p>
                </div>
                <hr>
                <div>
                    {% set num = 1 %}
                    {% for clientName in clientsName %}
                        <br/>
                            <strong>{{ "Visiteur n°"|trans}}{{ num }}{% set num = num + 1 %}</strong><br/><br/>
                            <em>{{ clientName.lastName }}<br/>{{ clientName.firstName }}</em>
                        <br/>
                    {% endfor %}
                    <hr>
                </div>
                <div>
                    <u>{{ "Votre commande contient"|trans}}</u> :<br/><br/>
                    {{ numberTicketsNormal }} {{ "billet(s) Tarif Normal (16€)"|trans}}<br/>
                    {{ numberTicketsReduce }} {{ "billet(s) Tarif Réduit (10€ - étudiant, employé du Musée, Ministère de la Culture, militaire)"|trans}}<br/>
                    {{ numberTicketsChild }} {{ "billet(s) Tarif Enfant (8€ - de 4 à 12 ans)"|trans}}<br/>
                    {{ numberTicketsSenior }} {{ "billet(s) Tarif Senior (12€ - à partir de 60 ans)"|trans}}<br/><br/>
                    <strong>{{ "Veuillez noter qu'un justificatif pourra vous être demandé à l'entrée du Musée."|trans}}</strong>
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>