<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Musée du Louvre{% endblock %}</title>
        {% stylesheets
        'bundles/lgcore/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
        'bundles/lgcore/css/style_layout.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
        'bundles/lgcore/css/style_bookingpage.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
        'bundles/lgcore/css/style_homepage.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
        'bundles/lgcore/plugin/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home.index') }}">{{ 'Musée du Louvre'|trans }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">{{ 'Informations pratiques'|trans }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Visites & Activités'|trans }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Expositions & Actualités'|trans}}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Oeuvres & Palais'|trans}}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'Arts & Education'|trans}}</a>
                    </li>
                    <li id="navBooking">
                        <a href="{{ path('booking.create.stepOne') }}">{{ 'Billetterie'|trans}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="flag">
        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}
        {% set params = route_params|merge(app.request.query.all) %}
        <a href="{{ path(route, params|merge({ _locale: "fr" })) }}"><img src="{{ asset('bundles/lgcore/img/france.png') }}" alt="french_flag"></a><br/><br/>
        <a href="{{ path(route, params|merge({ _locale: "en" })) }}"><img src="{{ asset('bundles/lgcore/img/united-kingdom.png') }}" alt="uk_flag"></a>
    </div>

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                {{ 'Musée du Louvre - 2017 - Site Fictif développé par'|trans}} <a href="http://leogrambert.fr">Léo Grambert</a> - {{ 'Retour sur la'|trans}} <a href="http://leogrambert.fr/front/projets/louvre">{{ 'Feuille de route'|trans}}</a>
            </div>
        </div>
    </footer>
    {% javascripts
    '@js'
    'bundles/lgcore/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block script %}
    {% endblock %}
    </body>

</html>