{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}
    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">Billetterie en ligne</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">Vous avez <span id="numberTickets">0</span> billet(s)<br/> dans votre panier</p>
    <!--
Funnel
-->
    <div class="container" id="funnelStepOne">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">Ajouter au panier</span>
                <span id="textStepTwo">Détails billets</span>
                <span id="textStepThree">Paiement</span>
                <span id="textStepFour">Confirmation</span>
            </div>
        </div>
    </div>
    <!-- //end of Funnel -->

    <div class="container marginBody">
        <!-- Step One -->
        <div class="row" id="stepOne">
            <div id="booking-form-container" class="col-sm-12 booking-container__step-one">
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'booking-form-step-one'}}) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        {{ form_label(form.email) }}
                        <p id="emailTextDescription"><img src="{{ asset('bundles/lgcore/img/alert.png') }}" alt="alert" id="alertIcon"/> Les billets vous seront envoyés par email.</p>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        {{ form_label(form.dateReservation, 'Choisissez la date de votre visite') }}
                        <img src="{{ asset('bundles/lgcore/img/help.png') }}" alt="help_icon" class="help" id="datepickerHelp"/>
                    </div>
                    <div class="col-md-offset-5 col-md-2">
                        {{ form_widget(form.dateReservation, {'attr' : { 'class' : 'booking-input__reservation-date'}}) }}
                        {{ form_errors(form.dateReservation) }}
                    </div>
                    <div id="datepickerHelpText" class="col-md-3">
                        <img src="{{ asset('bundles/lgcore/img/cross.png') }}" alt="cross_close" id="datepickerHelpCross" />
                        <p>Le musée est ouvert tout les jours, de 9h à 18h, <strong>sauf le mardi (Fermeture hebdomadaire) et les 1er mai, 1er novembre et 25 décembre</strong>. </p><br/>
                        <p>La commande de billets en ligne est impossible :</p>
                            <p>Les dimanches</p>
                            <p>Les jours fériés</p>
                            <p>Si plus de 1000 billets ont déjà été commandés en ligne pour la journée en cours</p>
                        <p>Pour ces dates, veuillez vous rendre directement au Musée pour acheter vos billets.</p><br/>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <p id="checkboxIsDaily">
                        Nature du(des) billet(s)
                        <img src="{{ asset('bundles/lgcore/img/help.png') }}" alt="help_icon" class="help" id="isDailyHelp"/>
                    </p>
                    {{ form_widget(form.isDaily, { 'attr' : { 'class' : 'booking-input__is-daily' }}) }}
                    {{ form_errors(form.isDaily) }}
                    <div id="isDailyHelpText" class="col-md-3">
                        <img src="{{ asset('bundles/lgcore/img/cross.png') }}" alt="cross_close" id="isDailyHelpCross" />
                        <p>La commande de billet demi-journée est impossible pour la journée en cours s'il est plus de 14 heures.</p>
                        <p>Le billet demi-journée ne permet de rentrer dans le Musée qu'à partir de 14 heures.</p>
                    </div>
                </div>
                <hr>
                <p class="ticketNumber">Nombre de billets</p>
                <div class="row">
                    <div id="isReduced" class="col-md-offset-3 col-md-6">
                        <p><span class="ticketNumber">Tarif normal :</span> 16€</p>
                        <p><span class="ticketNumber">Tarif réduit :</span> étudiant, employé du Musée, service du Ministre de la Culture, militaire (10€)</p>
                        <p><span class="ticketNumber">Tarif enfant :</span> de 4 à 12 ans (8€)</p>
                        <p><span class="ticketNumber">Tarif senior :</span> à partir de 60 ans (12€)</p>
                        <p>Pour les enfants de moins de 4 ans, l'entrée est gratuite. Vous n'avez pas à prendre de billets.</p>
                    </div>
                </div>
                <div id="choiceTicketNumber">
                    <div class="row" id="selectType">
                        <div class="col-md-offset-2 col-md-2">
                            {{ form_label(form.ticketNumberNormal, ('Tarif Normal (16€)')) }}
                            {{ form_widget(form.ticketNumberNormal, {'attr' : {'class':'ticketNumberNormal'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.ticketNumberReduce, ('Tarif Réduit (10€)')) }}
                            {{ form_widget(form.ticketNumberReduce, {'attr' : {'class':'ticketNumberReduce'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.ticketNumberChild, ('Tarif Enfant (8€)')) }}
                            {{ form_widget(form.ticketNumberChild, {'attr' : {'class':'ticketNumberChild'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.ticketNumberSenior, ('Tarif Senior (12€)')) }}
                            {{ form_widget(form.ticketNumberSenior, {'attr' : {'class':'ticketNumberSenior'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ form_errors(form.ticketNumberNormal) }}
                    {{ form_errors(form.ticketNumberReduce) }}
                    {{ form_errors(form.ticketNumberChild) }}
                    {{ form_errors(form.ticketNumberSenior) }}
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <p id="messageErrorIsReduce" class="alert-danger">Veuillez choisir un billet pour passer à l'étape suivante.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2" id="priceContainer">
                        Prix :<div id="price" class="price">0 €</div>
                    </div>
                </div>
                <hr>
                {{ form_widget(form.stepThree,  {'attr' : {'class':'btn-primary'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% javascripts
    '@js'
    'bundles/lgcore/js/booking.js'
    'bundles/lgcore/js/textHelp.js'
    'bundles/lgcore/js/isDailyDisabled.js'
    'bundles/lgcore/js/isReduced.js'
    'bundles/lgcore/js/displayPriceStepOne.js'
    'bundles/lgcore/plugin/form-master/jquery.form.js'
    'bundles/lgcore/plugin/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js'%}
    <script src="{{ asset_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    {% endjavascripts %}
{% endblock %}