{% extends "LGCoreBundle::layout.html.twig" %}

{% block body %}

    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">Billetterie en ligne</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">Vous avez <span id="numberTickets">{{ numberTickets }}</span> billet(s)<br/> dans votre panier</p>
    <!--
Funnel
-->
    <div class="container" id="funnelStepThree">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">Ajouter au panier</span>
                <span id="textStepTwo">Détails billets</span>
                <span id="textStepThree">Paiement</span>
                <span id="textStepFour">Confirmation</span>
            </div>
        </div>
    </div>
    <!-- //end of Funnel -->

<div id="wrapper" class="container marginBody">

            <div id="welcome" class="row">
                <div class="col-md-offset-4 col-md-4" id="containerPriceStepThree">
                    <p>{{ numberTickets }} billet(s) dans le panier - Date de visite : {{ dateReservationToString }}</p>
                    <div>Prix total :
                        <div class="price">{{ price }} €</div>
                    </div>
                    <p>Vous êtes sur le point de payer votre commande.</p>
                </div>
            </div>

            <div id="status">
                <form action="{{ path('order.checkout', {"id" : booking.id}) }}" method="POST">
                    <input
                        type="submit"
                        class="btn btn-primary"
                        value="Paiement en CB"
                     />
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_TfkNsQ8b0ms55dJSR1FCIzMF"
                            data-amount="{{ price }}00"
                            data-name="Musée du Louvre"
                            data-locale="auto"
                            data-currency="eur"
                            data-email="{{ email }}">
                    </script>
                </form>
            </div>

    </div>
{% endblock %}