{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}
    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">Billetterie en ligne</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">Vous avez 0 billet(s)<br/> dans votre panier</p>

    <div class="container" id="funnel">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">Ajouter au panier</span>
                <span id="textStepTwo">Détails billets</span>
                <span id="textStepThree">Paiement</span>
                <span id="textStepFour">Confirmation</span>
            </div>
        </div>
    </div>

    <div class="container marginBody">

        <div id="stepOne">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    {{ form_label(form.dateReservation, 'Choisissez la date de votre visite') }}
                </div>
                <div class="col-md-offset-5 col-md-2">
                    {{ form_widget(form.dateReservation) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <p id="checkboxIsDaily">Nature du billet</p>
                {{ form_widget(form.isDaily) }}
            </div>
            <hr>
            <div class="row">
                <div class="col-md-offset-5 col-md-2">
                    {{ form_label(form.ticketNumber, 'Nombre de billets') }}
                    <div id="choiceTicketNumber">{{ form_widget(form.ticketNumber) }}</div>
                </div>
            </div>
            <br/>
            <div class="row">
                Prix :
            </div>
            <br/>
            <button class="btn btn-primary" id="stepOneButton">Ajouter au panier</button>
        </div>

        <div id="stepTwo">
            <div>
                {{ form_label(form.email, "Entrez votre adresse email :") }}
            </div>
            <div class="col-md-offset-4 col-md-4 form-group">
                {{ form_widget(form.email) }}
            </div><br/><br/>
            <hr>
            {{ form_row(form.clients) }}
            <a href="#" id="add_client" class="btn btn-default">Ajouter un visiteur</a>
            <hr>
            <button class="btn btn-primary" id="stepTwoButton">Valider la commande</button>
        </div>

        <div id="stepThree">Ici se trouvera l'étape trois<br/><hr>
            {{ form_row(form.save) }}

            <button class="btn btn-primary" id="stepThreeButton">Finaliser la commande</button>
        </div>

        <div id="stepFour">Ici se trouvera le message de confirmation<br/><hr>
            <a href="/"><button class="btn btn-primary">Accueil</button></a></div>
    </div>

    {% javascripts
    '@js'
    'bundles/lgcore/js/booking.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@js'
    'bundles/lgcore/js/formVisitor.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@js'
    'bundles/lgcore/plugin/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}