{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}

    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">{{ "Billetterie en ligne"|trans}}</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">{{ "Vous avez"|trans}} <span id="numberTickets">{{ numberTickets }}</span> {{ "billet(s)"|trans}}<br/> {{ "dans votre panier"|trans}}</p>
    <!--
    Funnel
    -->
    <div class="container" id="funnelstepTwo">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">{{ "Ajouter au panier"|trans}}</span>
                <span id="textStepTwo">{{ "Détails billets"|trans}}</span>
                <span id="textStepThree">{{ "Paiement"|trans}}</span>
                <span id="textStepFour">{{  "Confirmation"|trans}}</span>
            </div>
        </div>
    </div>
    <!-- //end of Funnel -->

    <!-- Step two main -->
    <div class="container marginBody">
        <div class="row">
            <div class="col-md-offset-4 col-md-4" id="textRecapStepTwo">
                <h4>{{ "Récapitulatif de votre commande"|trans}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4" id="containerPriceStepTwo">
                <p>{{ numberTickets }} {{ "billets dans le panier - Date de visite :"|trans}} {{ dateReservationToString }}</p>
                <hr>
                <span id="numberTicketsNormal">{{ numberTicketsNormal }}</span> {{ "billet(s) Tarif Normal"|trans}}<br/>
                <span id="numberTicketsReduce">{{ numberTicketsReduce }}</span> {{ "billet(s) Tarif Réduit"|trans}}<br/>
                <span id="numberTicketsChild">{{ numberTicketsChild }}</span> {{ "billet(s) Tarif Enfant"|trans}}<br/>
                <span id="numberTicketsSenior">{{ numberTicketsSenior }}</span> {{ "billet(s) Tarif Senior"|trans}}<br/>
                <hr>
                <div>{{ "Prix total :"|trans }}
                    <div class="price">{{ price }} €</div>
                </div>
            </div>
        </div>
        <div class="row" id="infoTicketsStepTwo">
            <p>{{ "Pour l'édition de vos billets, veuillez remplir les formulaires ci-dessous."|trans}}<br/> {{ "Un justificatif pourra vous être demandé à l'entrée du Musée."|trans}}<p>
            <hr>
            <div id="booking-form-container-step-two" class="col-sm-12" data-create-url="{{ path('booking.client.create', {"id" : booking.id}) }}">
            </div>
            <hr>

            <div id="">
                <a href="{{ path('booking.create.stepThree', {"id" : booking.id}) }}"><button disabled class="btn btn-primary" id="buttonToStepThree">{{ "Confirmer la commande"|trans}}</button></a>
            </div>
        </div>
    </div>
    <!-- end //step two main -->
{% endblock %}

{% block script %}
    {% javascripts
    '@js'
    'bundles/lgcore/js/booking-namespace.js'
    'bundles/lgcore/js/model/clientModel.js'
    'bundles/lgcore/plugin/moment/moment-with-locales.js'
    'bundles/lgcore/js/booking.js'
    'bundles/lgcore/plugin/form-master/jquery.form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
