{%  extends "LGCoreBundle::layout.html.twig" %}

{% block body %}
    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">{{ "Billetterie en ligne"|trans}}</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">{{ "Vous avez"|trans}} <span id="numberTickets">0</span> {{ "billet(s)"|trans}}<br/> {{ "dans votre panier"|trans}}</p>
    <!--
Funnel
-->
    <div class="container" id="funnelStepFour">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">{{ "Ajouter au panier"|trans}}</span>
                <span id="textStepTwo">{{ "Détails billets"|trans}}</span>
                <span id="textStepThree">{{ "Paiement"|trans}}</span>
                <span id="textStepFour">{{ "Confirmation"|trans}}</span>
            </div>
        </div>
    </div>
    <!-- //end of Funnel -->
    <div class="container marginBody" id="confirmationPage">
        <h2>{{ "Confirmation de commande"|trans}} n° {{ codeReservation }}</h2>
        <h3 id="stepFourThankMessage">{{ "Merci et bonne visite !"|trans}}</h3>
        <hr>
        <p>{{ "Les billets d'entrée vous ont été envoyés par mail (adresse :"|trans}} <strong>{{ emailReservation }}</strong>).</p>
        <p>{{ "En cas de problèmes liés à votre commande, contactez le service clientèle en vous munissant de votre numéro de réservation"|trans}} ({{ codeReservation }})</p>
        <br/><br/><br/><a href="{{ path('home.index') }}"><button class="btn btn-primary">{{ "Retour à l'accueil"|trans}}</button></a>
    </div>

{% endblock %}